.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 4em;
  justify-content: center;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  background-color: var(--button-background-color);
  transition: background-color 0.2s ease-in-out;
}
.buttons:hover {
  cursor: pointer;
  background-color: var(--button-background-hover-color);
}
.buttons p {
  text-align: center;
}

.button-clicked {
  background-color: var(--button-background-hover-color);
}