@import '../CSS/variables.css';
.header-desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--header-background);
  box-shadow: var(--box-shadow-color);
  width: 100%;
}
.header-desktop .header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  max-width: var(--primary-max-width);
}
.header-desktop .header-container .header-hamburger-menu-container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding: 1em 0 1em 1em;
}
.header-desktop .header-container .header-hamburger-menu-container:hover {
  cursor: pointer;
}
.header-desktop .header-container .header-hamburger-menu-container .header-hamburger-menu {
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--accent-color);
}
.header-desktop .header-container .header-title-container {
  display: flex;
}
.header-desktop .header-container .header-title-container .header-title {
  transition: color 0.4s;
}
.header-desktop .header-container .header-title-container .header-title:hover {
  color: var(--accent-color);
  cursor: pointer;
}
.header-desktop .header-container navbar {
  display: none;
}

@media (min-width: 800px) {
  .header-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
  }
  .header-desktop .header-container {
    justify-content: space-between;
  }
  .header-desktop .header-container navbar {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }
  .header-desktop .header-container .header-hamburger-menu-container {
    display: none;
  }
}
.header-mobile {
  display: flex;
  flex-direction: row;
  background: var(--header-mobile-background);
  box-shadow: var(--box-shadow-color-mobile-menu);
  width: 0;
  height: calc(100vh - 4em);
  position: fixed;
  z-index: 10;
  transition: width 0.3s ease-in-out;
}
.header-mobile .header-container {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
}
.header-mobile .header-container navbar {
  display: none;
  flex-direction: column;
  margin-top: 2em;
  gap: 3em;
}

@media (min-width: 500px) and (max-width: 799px) {
  .header-mobile .header-container {
    padding-left: 3em;
  }
}
@media (min-width: 800px) {
  .header-mobile {
    display: none;
  }
}