@import '../CSS/variables.css';
.main-content-schedule-container .main-content-schedule-table-container {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
.main-content-schedule-container .main-content-schedule-table-container table, .main-content-schedule-container .main-content-schedule-table-container th, .main-content-schedule-container .main-content-schedule-table-container td {
  border: 2px solid var(--table-border-color);
  border-collapse: collapse;
  padding: 0.5em;
  text-align: center;
}
.main-content-schedule-container .main-content-schedule-table-container th:first-child,
.main-content-schedule-container .main-content-schedule-table-container td:first-child {
  /* Adjust the width of the first column as needed */
  width: 20%;
}
.main-content-schedule-container .main-content-schedule-table-container th:nth-child(2),
.main-content-schedule-container .main-content-schedule-table-container td:nth-child(2) {
  /* Adjust the width of the second column as needed */
  width: 40%;
}
.main-content-schedule-container .main-content-schedule-table-container th:nth-child(3),
.main-content-schedule-container .main-content-schedule-table-container td:nth-child(3) {
  /* Adjust the width of the third column as needed */
  width: 40%;
}
.main-content-schedule-container .main-content-schedule-table-container tr {
  transition: 0.2s;
}
.main-content-schedule-container .main-content-schedule-table-container table {
  width: 100%;
}
.main-content-schedule-container .main-content-schedule-table-container tr:nth-child(even) {
  background-color: var(--table-even-row-color);
}
.main-content-schedule-container .main-content-schedule-table-container tr:hover {
  background-color: var(--table-table-hover);
}