.selector-container {
  position: relative;
}
.selector-container .selector {
  display: none;
  opacity: 0;
  max-height: 200px;
  position: absolute;
  background-color: var(--selector-background);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  overflow-y: auto;
}
.selector-container .selector::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}
.selector-container .selector::-webkit-scrollbar-thumb {
  background-color: var(--selector-scrollbar-thumb-color); /* Color of the scrollbar thumb */
  border-radius: 6px; /* Border radius of the thumb */
}
.selector-container .selector::-webkit-scrollbar-track {
  background-color: var(--selector-scrollbar-track-color); /* Color of the scrollbar track */
  border-radius: 6px; /* Border radius of the track */
}
.selector-container .selector ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.selector-container .selector ul li {
  color: var(--font-primary-color);
  padding: 1em 1.5em;
  transition: background-color 0.1s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.selector-container .selector ul li:hover {
  cursor: pointer;
  background-color: var(--selector-items-background-color-hover);
}
.selector-container .selector ul li svg path {
  stroke: var(--selector-icon-color);
}
.selector-container .selector-button {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5em;
}
.selector-container .selector-button:hover {
  cursor: pointer;
}
.selector-container .selector-button svg path {
  stroke: var(--selector-arrow-color);
}