@import '../CSS/variables.css';

// Shared code between mobile and desktop css

.header-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background: var(--header-background);
    box-shadow: var(--box-shadow-color);

    width: 100%;

    // Header's Container
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;

        padding-left: 1em;
        padding-right: 1em;

        width: 100%;
        max-width: var(--primary-max-width);

        // Hamburger Menu
        .header-hamburger-menu-container {
            display: flex;
            flex-direction: column;
            gap: 0.2em;

            padding: 1em 0 1em 1em;

            &:hover {
                cursor: pointer;
            }

            // The hamburger's lines
            .header-hamburger-menu {
                width: 20px;
                height: 3px;

                border-radius: 5px;
                background-color: var(--accent-color);
            }
        }

        // Header Title's Container
        .header-title-container {
            display: flex;

            // Header Title
            .header-title {
                transition: color 0.4s;

                // Header Title (Hovered)
                &:hover {
                    color: var(--accent-color);
                    cursor: pointer;
                }
            }
        }

        // Navbar (Mobile)
        navbar {
            display: none;
        }
    }
}

// For desktop and ipad
@media (min-width: 800px) {
    .header-desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        width: 100vw;
        // Header's Container
        .header-container {
            justify-content: space-between;

            // Navbar (Desktop)
            navbar {
                display: flex;
                flex-direction: row;
                gap: 2em;
            } // navbar

            // Hamburger Menu
            .header-hamburger-menu-container {
                display: none;
            } // header-hamburger-menu-container
        } // header-container
    } // header-desktop
} // media

// CSS FOR MOBILE NAVBAR ONLY. ABOVE ARE SHARED CODES
.header-mobile {
    display: flex;
    flex-direction: row;

    background: var(--header-mobile-background);
    box-shadow: var(--box-shadow-color-mobile-menu);

    width: 0;
    height: calc(100vh - 4em);

    position: fixed;

    z-index: 10;

    transition: width 0.3s ease-in-out;

    // Header's Container
    .header-container {
        display: flex;

        padding-left: 1em;
        padding-right: 1em;

        // Navbar (Mobile)
        navbar {
            display: none;
            flex-direction: column;

            margin-top: 2em;

            gap: 3em;
        }
    }
}

// big phones
// min width 700px max is 999px
@media (min-width: 500px) and (max-width: 799px) {
    .header-mobile {
        // Header's Container
        .header-container {
            padding-left: 3em;
        }
    }
}

// Hide the mobile header (drawer also)
@media (min-width: 800px) {
    .header-mobile {
        display: none;
    } // header-mobile
}