// Selections aka buttons
@import '../CSS/variables.css';

.main-content {
    .main-content-selections-container {
        display: none;
        flex-direction: column;

        padding: 0 1em;

        margin-top: 3em;
        gap: 3em;
        justify-content: center;

        .main-content-selections-container-row {
            display: flex;
            flex-direction: row;
            gap: 3em;
            justify-content: center;
        }

        .main-content-info-alert-content {
            font-size: smaller;
        }
    }
}